{% extends 'base_layout.html' %}

{% block title %}
Blog List
{% endblock title %}

{% block content %}
<div style="display: flex; align-items: center;">
    <h1>Blog List</h1>
    <span style="flex-grow: 1;"></span>
    {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'blog:create' %}">
        <i class="fa fa-plus"></i>
        Create New Post
    </a>
    {% endif %}
</div>
<ul class="list-group">
    {% for post in post_list %}
    <li class="list-group-item my-2">
        <div class="d-md-flex align-items-center">
            <a href="{% url 'blog:post_detail' post.slug %}">
                <h3> {{ post.title }}</h3>
            </a>
            {% if user.is_authenticated and user == post.user_id %}
            <a href="{% url 'blog:update' post.slug %}" class="btn btn-sm btn-outline-warning ml-auto" title="edit">
                <i class="fa fa-pencil"></i>
            </a>
            <button class="btn btn-outline-danger btn-sm btnDeletePost ml-2" title="delete" data-title="{{ post.title }}"
                data-url="{% url 'blog:delete' post.slug %}">
                <i class="fa fa-trash"></i>
            </button>
            {% endif %}
        </div>
        <span>author : {{post.user_id}} | {{ post.create_at|date:"d M, Y, P" }}</span>
        <p>{{ post.content|safe }}</p>
    </li>
    <br>
    {% endfor %}
</ul>
{% endblock content %}