{% extends 'base_layout.html' %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
    <div style="display: flex; align-items: center;">
        <h1>{{post.title}}</h1>
        <span style="flex-grow: 1;"></span>
        <a href="{% url 'blog:index' %}">
            <button>Back</button>
        </a>
    </div>
    <span>author : {{post.user_id.username}} | {{ post.create_at|date:"d M, Y, P" }}</span>
    <p>{{post.content}}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'blog:update' post.slug %}" type="button" class="btn btn-warning btn-sm">EDIT</a>
        <button type="button" class="btn btn-danger btn-sm btnDeletePost" title="{{post.title}}" url="{% url 'blog:delete' post.slug %}">DELETE</button>
    {% endif %}
<div style="display: flex; align-items: center;">
    {% if prev_slug %}
    <a href="{% url 'blog:post_detail' slug=prev_slug %}">
        <i class="fa fa-arrow-left"></i>
        Previous Post
    </a>
    {% endif %}
    <span style="flex-grow: 1;"></span>
    {% if next_slug %}
    <a href="{% url 'blog:post_detail' slug=next_slug %}">
        Next Post
        <i class="fa fa-arrow-right"></i>
    </a>
    {% endif %}
</div>
{% endblock content %}