{% extends 'base_layout.html' %}

{% block title %}
hello from /user
{% endblock title %}

{% block content %}
<h1>hello from /user</h1>
{% if user.is_authenticated %}
<pre>you have username : {{ user.username }}</pre>


<div style="display: flex; align-items: center;">
    {% if user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'index' %}admin/">
        Open admin page
    </a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'blog:index' %}">
        Open blog page
    </a>
    {% endif %}
    <span style="margin: 0 10px;">
        or
    </span>
    <a class="btn btn-secondary" href="{% url 'user:signout' %}">
        Logout
    </a>
</div>
{% else %}
<div style="display: flex; align-items: center;">
    <a class="btn btn-secondary" href="{% url 'user:signin' %}">
        Login
    </a>
    <span style="margin: 0 10px;">
        or
    </span>
    <a class="btn btn-secondary" href="{% url 'user:signup'%}">
        Sign up
    </a>
</div>
{% endif %}
{% endblock content %}