body {
    background: #ddd!important;
}

.container, .navbar {
    box-shadow: 0px 3px 3px 3px #00000012;
}

.content {
    padding: 0 15%;
    min-height: 80vh;
}

nav > * {
    margin: 0 10px;
}



