body {
    background: #ddd !important;
}

.container,
.navbar {
    box-shadow: 0px 3px 3px 3px #00000012;
}

.dropdown-menu-right{
    right: 0;
    left: auto !important;
}
.content {
    padding: 0 15%;
    min-height: 80vh;
}

nav > * {
    margin: 0 10px;
}

.summernoteinplacewidget, .note-editor.note-frame {
    padding: 0;
    border: none;
}

.breadcrumb li{
    padding-right: 5px;
}